<center>
    <img src="../../assets/images/founder.png" alt="Dr. D.Y. Patil"><br/>
    <b>Hon. Dr. D.Y. Patil</b><br/>
    <strong>Founder Chancellor</strong>
    D.Y. Patil deemed to be university<br/>Nerul, Navi Mumbai
</center>
<div class="container">
    <div class="row">
<div class="col s6" style="float:left">
    <img src="../../assets/images/vijay.png" alt="Viay Patil"><br/>
    <center><b>Hon. Dr. Vijay Patil</b><br/>
    <strong>Chancellor</strong>
    D.Y. Patil deemed to be university<br/>Nerul, Navi Mumbai</center>
</div>
<div class="col s6" style="float:right">
    <img src="../../assets/images/shivani.png" alt="Shivani Patil"><br/>
    <center><b>Hon. Mrs. Shivani V. Patil</b><br/>
        <strong>Managing Trustee</strong>
        D.Y. Patil deemed to be university<br/>Nerul, Navi Mumbai</center>
</div>
</div>
</div>