<div>
        <h6><u> <b> Major Topics </b></u></h6>
        <%
            var array = [' INTRODUCTION DATA STRUCTURES.','Algorithms.','Java.','Internship Project.','Aptitude.','Soft–Skills.','Group Discussion.','Personal Interviews.'];
        %>
            <ul class='collections'>
                    <%for(var i=0;i<array.length;i++){%>
                            <li> &nbsp; • <%=array[i];%></li>
                    <%}%>
            </ul>
</div>
