<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Second</title>
    
</head>
<body>
    
    <div class="container">
         <div class="row">
             <div class="col s4">
                    <%include partials/aboutdy.ejs%>
                    <%include partials/aboutrait.ejs%>
             </div>
             <div class="col s4">
                    <%include partials/abouttpc.ejs%>
             </div>
             <div class="col s4">
                    <%include partials/majortopic.ejs%>
                    <%include partials/track.ejs%>
             </div>
         </div>
    </div>


</body>
<%include materialize.ejs%>

</html>
